PORT=3001

MONGO_URI=mongodb://admin:password@localhost:27017/promocodes?authSource=admin

JWT_SECRET=change_me
JWT_EXPIRES_IN=1d

REDIS_HOST=localhost
REDIS_PORT=6379

CLICKHOUSE_URL=http://localhost:8123
CLICKHOUSE_USERNAME=admin
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_DATABASE=analytics